@import url('https://fonts.googleapis.com/css2? family= Lato:ital,wght@0,300;0,400;0,900;1,300 & display=swap');


body {
    background-color: #e71919;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 140%;  
    font-family: 'Lato', sans-serif; 
    
    
}


#emb-header {
    margin-top: 1px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

#icone{
    margin-top: 1px;
    padding-top: 10px;
}



#title1{
    color: #fffefe;
    font-size: 5rem;
    animation: title 2s infinte;
    background-color: rgb(247, 160, 143);
    animation-delay: 1s;
    border-radius: 10px;
    margin-top: 1px;
    animation: title 3s;
    
}

@keyframes title {
    
    from {font-size: 2rem; }        
    
    to {font-size: 5rem; }
}

#desc{
    font-size: 0.9rem;
}

#mao {
    display: flex;
    margin: 0;
    justify-content: center;

}

.mao {
   
}

@keyframes carta_surgindo {
    from {width: 2rem ;}
    to {width: 12rem;}
}

#carta{
    animation: carta_surgindo 2s ;
    width: 12rem;
}

#desc{
    color: #f5f2f2;
}

.container {
    text-align: center;
    
}

h1{
    font-size: 40px;
}

#btn-fetch, #btn-recomecar {
    font-size: 25px;
    border-radius: 5px;
    width: 10rem;
}

#btn-recomecar {
    background-color: #e7e1e1;
}



button {
    cursor: pointer;
}

@keyframes title1r {
    from {font-size: 1rem; }
    to {font-size: 3rem}
}

@keyframes carta_surgindo1 {
    from {width:2rem}
    to {width:5rem}
}

@media (max-width: 768px) {
    #title1{
        font-size: 3rem;
        animation: title1r 4s;
    }

    #carta{
        animation: carta_surgindo1 1.7s;
        width: 5rem;
    }

    #res-dado{
        margin-left: 4rem;
        
    }
}

#btn-dado{
    font-size: 17px;    
    border-radius: 5px;
}

#res-dado{
    font-size: 20px;
    border-radius: 5px;
    width: 7rem;
    margin-left: 46.5%;
    text-align: center;
    font-weight: bold;
    color: #d90808;
    background-color: #f7eded;
}

#content-dado{
    justify-content: center;
    text-align: center;
    align-items: right;
}


 

